@import './variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

/* entire container, keeps perspective */
.match-card-container {
  perspective: 1000px;
  
  .match-card {
    position: relative;
    height: 200px;
    border: 3px solid $border-primary;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    
    &.selected {
	    border: 3px solid $border-selected;
      transform: rotateY(0deg);
    }

    &.matched {
	    border: 3px solid $border-matched;
      transform: rotateY(0deg);
    }


    .front, .back {
      height: 100%;
      width: 100%;
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }
  }
}