@import './variables';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

.home-page-container {
  height: 100%;
  color: $primary-color;

  &.dark {
    background-color: #000000;
  }

  &.light {
    background-color: #ffffff;
  }

  .title {
    height: $header-height;
  }

  .game-container {
    height: calc(100% - #{$header-height + $dark-mode-toggle-height});
    width: 100%;
    padding: 0 0 20%;

    .easy {
      width: 75%;
    }

    .medium {
      width: 75%;
    }

    .hard {
      width: 80%;
    }

    .menu {
      height: 100%;
    }

    .match-card-container {
      perspective: 1000px;
      padding: 5%;

      .match-card {
        position: relative;
        border: 3px solid $border-primary;
        transition: 0.5s;
        transform-style: preserve-3d;
        transform: rotateY(180deg);

        &.large {
          height: 12.5em;
          width: 12.5em;
        }

        &.medium {
          height: 10em;
          width: 10em;
        }

        &.small {
          height: 9em;
          width: 9em;
        }

        &.selected {
          border: 3px solid $border-selected;
          transform: rotateY(0deg);
        }

        &.matched {
          border: 3px solid $border-matched;
          transform: rotateY(0deg);
        }

        .front,
        .back {
          height: 100%;
          width: 100%;
          backface-visibility: hidden;

          position: absolute;
          top: 0;
          left: 0;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }
      }
    }
  }
}

@import './fireworks';

@import './media-queries';

@import './utilities';
