@import './variables';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

.home-page-container {
  height: 100%;

  .title {
    padding: 3% 0 0;
  }

  .game-container {
    height: 100%;
    width: 100%;
    padding: 0 0 20%;

    .easy {
      width: 75%;
    }

    .medium {
      width: 75%;
    }

    .hard {
      width: 80%;
    }

    .match-card-container {
      perspective: 1000px;
      padding: 5%;

      .match-card {
        position: relative;
        border: 3px solid $border-primary;
        transition: 0.5s;
        transform-style: preserve-3d;
        transform: rotateY(180deg);

        &.large {
          height: 12.5em;
        }

        &.medium {
          height: 7.8125em;
        }

        &.small {
          height: 7.8125em;
        }

        &.selected {
          border: 3px solid $border-selected;
          transform: rotateY(0deg);
        }

        &.matched {
          border: 3px solid $border-matched;
          transform: rotateY(0deg);
        }

        .front,
        .back {
          height: 100%;
          width: 100%;
          backface-visibility: hidden;

          position: absolute;
          top: 0;
          left: 0;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }
      }
    }
  }
}

@import './media-queries';

@import './utilities';
