@import './variables';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

.home-page-container {
  height: 100%;
  color: $primary-color;

  &.dark {
    background-color: #000000;
  }

  &.light {
    background-color: #ffffff;
  }

  .title {
    height: $header-height;
  }

  .game-container {
    height: calc(100% - #{$header-height + $dark-mode-toggle-height});
    width: 100%;
    padding: 0 0 20%;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0px; /* Remove scrollbar */
      background: transparent; /* Optional: just make scrollbar invisible */
    }

    .easy {
      width: 75%;
    }

    .medium {
      width: 75%;
    }

    .hard {
      width: 80%;
    }

    .menu {
      height: 100%;
    }
  }
}

@import './fireworks';

@import './media-queries';

@import './utilities';
