@import './variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

/* entire container, keeps perspective */
.match-card-container {
  perspective: 1000px;
  height: 140px;
  
  .match-card {
    border: 3px solid $border-primary;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    height: 140px;
    
    &.selected {
      border: 3px solid $border-selected;
      transform: rotateY(180deg);
    }

    .media {
      height: 140px;
    }

    > div {
      padding: 0;
    }
  
    > div:last-child {
      padding: 0;
    }

    .front, .back {
      height: 140px;
      width: 100%;
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }
  }
}